@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@101.2,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@101.2,300..700&family=Sixtyfour&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
    --primary-color: hsl(0, 0%, 3%);
    --primary-color-dark: #95a8c0;
    --secondary-color: #2f945c;
    --text-dark: black;
    --text-light: #947373;
    --extra-light: #faf5ff;
    --max-width: 1200px;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

body {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:"wdth" 101.2;
    background-color: #faf5ff;
}

nav {
    width: 100%;
    top: 0;
    left: 0;
    background-color: #e9c26ff6;
    padding-bottom: 0px;
    z-index: 99;
}

.logo a {
    font-family: "Sixtyfour", sans-serif;
    text-decoration: none;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BLED" 65,
        "SCAN" 0;
}
.content {
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo a{
    font-size: 1.5rem ;
    font-weight:600px;
    color: var(--primary-color);
    transition: .3s;
}
nav .logo a:hover{
    color: var(--secondary-color) ;
}
nav .checkbox{
    display: none;
}
nav input{
    display: none;
}
nav .checkbox i{
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}
ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
}
ul li a {
    padding: 0.5rem 1rem;
    border: 2px solid transparent ;
    font-weight:600;
    color: var(--text-dark);
    text-decoration: none;
    transition: 0.3s;
}
ul li a:hover{
    border-top-color: var(--secondary-color);
    border-bottom-color: var(--secondary-color) ;
    color: var(--secondary-color);
}
.section1 {
    background-color: var(--extra-light);
}
.sectioncontainer {
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.greeting{
    letter-spacing: 2px;
    color: var(--text-light);
    font-weight: 600;
    margin-bottom: .5rem;
}
.title{
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem ;
    color: var(--text-dark);
    margin-bottom: 1rem;
}
.title span{
    font-weight: 600;
}
.detail {
    line-height: 1.5rem;
    color: var(--text-light);
    margin-bottom: 2rem;
}
.actionbutton {
    display: flex;
    gap: 1rem;
}

.actionbutton button {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.hire a{

    color: var(--primary-color);
}
.hire  {

    color: var(--primary-color);
}

.hire:hover {
    background-color: var(--primary-color-dark);
    color: #ffffff;
}

.portfolio a{
    color: var(--primary-color);
}
.portfolio {
    color: var(--primary-color);
}

.portfolio:hover {
    background-color: var(--primary-color-dark);
    color: #ffffff;
}

.images {
    display: grid;
    place-items: center;
}

.images img {
    width: min(25rem, 90%);
    border-radius: 100%;
}
.ri-menu-line:hover {
    color: var(--primary-color-dark);;

}

@media(width<750px){
    body{
        width: 750px;
    }

    nav{
        width: 750;
    }
    nav .checkbox {
        display:grid;
}

ul{
    position: absolute;
    width:10%;
    height: calc(100vh - 85px);
    left: -100px;
    top: -20px;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    display: none;
}
nav #check:checked ~ ul{
    left: 10px;
    display: flex;
    top: 10px;


}
ul li a {
    font-size: 1.25rem;
}
.sectioncontainer {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
}

.images {
    grid-area: 1/1/2/2;

}

.actionbutton {
    margin: auto;
}

}
.icons a {
    text-decoration: none;
    color: var(--primary-color);
}

.icons ion-icon {
    margin-left: 7%;
    color: var(--primary-color);
    margin-right: 1px;
    font-size: 40px;
    transition: .4s ease;

}

.icons ion-icon:hover {
    color: var(--secondary-color);
}